#widget_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .widget {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        color: #555;
        transition: all .2s ease;
        outline: 0;
        font-size: 1.3rem;
        h2 {
            margin-left: -1rem;
            padding-bottom: 1rem;
        }
        p {
            text-align: left;
        }
        .site_navigation {
            display: flex;
            flex-direction: column;
            a {

                padding: 0.5rem 0;
            }
        }
    }
}

#copyright_sec {
    border-top: 1px solid #ebedef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem 0;
    #social_widget {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
        .icon {
            background-color: #f2f2f2;
            border-radius: 50%;
            color: #666;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            margin: 0 1rem;
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
