.container
    #widget_sec
        .widget
            h2  Secure payments with
            Image(src="https://res.cloudinary.com/hieu/image/upload/v1535703066/zQuickFood/icons/cards.png")
        .widget
            h2  About
            .site_navigation
                a(routerLink='/category') About Us
                a(routerLink='/contact')  Faq
                a(routerLink='/blog')  Contacts
                a(routerLink='/about')  Login
                a(routerLink='/about') Register
                a(routerLink='/about') Terms and conditions
        .widget
            h2  Newsletter
            p Join our newsletter to keep be informed about offers and news.
        .widget
            h2  Settings
    #copyright_sec
        #social_widget
            .icon: i.fab.fa-facebook-f
            .icon: i.fab.fa-twitter
            .icon: i.fab.fa-google
            .icon: i.fab.fa-instagram
            .icon: i.fab.fa-pinterest-p
            .icon: i.fab.fa-vimeo-v
            .icon: i.fab.fa-youtube
        p © Quick Food 2015
