.wrapper {
    background-color: white;
    border-radius: 3em;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.75);
    width:  65em;
    height: 5.2em;
    max-width: 65em;
    input {
        background-color: transparent;
        border: none;
        outline:none;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 1.8em;
        color: #444;
        padding: 0 3em;
        height: 100%;
        width: 90%;
    }
    .search_icon {
        color: black;
        font-size: 2em;
        width: 10%;
    }
}