@import "variables";


.container-fluid {
    position: fixed;
    z-index: 999999999999;
}

.container {
    grid-template:
            "logo         nav" 50px /
              1.5fr       6fr;
    align-items: center;
    .logo {
        grid-area: logo;
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        grid-area: nav;
        a {
            color: white;
            font-size: 1.4em;
            font-weight: 500;
            padding: 0.2em 1.5em;
        }
    }
}





