.container-fluid
    .container
        .logo: a(routerLink='/')
            Image(src="https://res.cloudinary.com/hieu/image/upload/v1535527352/zQuickFood/logo.png")
        .nav
            a(routerLink='/categories') Categories
            a(routerLink='/contact')  Contact
            a(routerLink='/blog')  Blog
            a(routerLink='/about')  About
            a(routerLink='/about')  Faq


