.container
    .logo: a(routerLink='/')
        Image(src="https://res.cloudinary.com/hieu/image/upload/v1535353904/zFoodBakery/main-logo.png")
    .main-nav
       nav
    .location
    .login-option


