.container-fluid
    .container
        .title Work with Us
        .sub_title Cum doctus civibus efficiantur in imperdiet deterruisset.

        #collaborate
            .block
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535700082/zQuickFood/submit_restaurant.jpg")
                h2 Submit your Restaurant
                h3 Start to earn customers
                p Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.
                button read more
            .block
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535700076/zQuickFood/delivery.jpg")
                h2 Submit your Restaurant
                h3 Start to earn customers
                p Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe o
                button read more