.container-fluid
    .container
        #content
            h1 Choose from over 2,000 Restaurants
            h3 Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
        #view_all
            button view all restaurants
