@import "normalize";
@import "grid";
@import "variables";

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

h1, h2, h3, h4, p {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.8em;
    color: #333;
    font-weight: 500;
}

p {
    color: #666;
    font-size: 1.4rem;
    text-align: center;
}