.container-fluid
    video.intro_video(autoplay, loop)
        source(src='https://res.cloudinary.com/hieu/video/upload/v1535595493/zQuickFood/intro.mp4', type='video/mp4')

    #content
        .heading
            | Order Takeaway or Delivery Food
        .sub_heading
            | Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
        search-input


    #statistic
        .box
            .number 2650
            p Restaurant
        .box
            .number 5350
            p People Served
        .box
            .number 12350
            p Registered Users

