.wrapper([@menu]="animated ? 'focused' : 'default'")
    .menu-item
        a(routerLink='/categories') Categories
        i.fas.fa-chevron-right.icon
    .menu-item
        a(routerLink='/contact')  Contact
        i.fas.fa-chevron-right.icon
    .menu-item
        a(routerLink='/blog')  Blog
        i.fas.fa-chevron-right.icon
    .menu-item
        a(routerLink='/about')  About
        i.fas.fa-chevron-right.icon