.container-fluid
    .container
        .title How it works
        .sub_title Cum doctus civibus efficiantur in imperdiet deterruisset.


        #step_container
            .step
                .numbering 1
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535615902/zQuickFood/icons/icon_home_1.svg")
                h3  Search by address
                p Find all restaurants available in your zone.
            .step
                .numbering 2
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535615902/zQuickFood/icons/icon_home_2.svg")
                h3  Choose a restaurant
                p We have more than 1000s of menus online.
            .step
                .numbering 3
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535615902/zQuickFood/icons/icon_home_3.svg")
                h3  Pay by card or cash
                p It's quick, easy and totally secure.
            .step
                .numbering 4
                Image(src="https://res.cloudinary.com/hieu/image/upload/v1535615902/zQuickFood/icons/icon_home_4.svg")
                h3  Delivery or takeaway
                p You are lazy? Are you backing home?


        #delivery_time
            .counter
                .block 2
                .block 5
            h4 The minutes that usually takes to deliver!


